@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin:0;
    padding:0;
}

html{
    /*me permite deslizar cuando hago click en los links del menu*/
    scroll-behavior: smooth;
}

/*MENU*/

.contenedor-header {
    background:rgba(30, 35, 38, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color:#1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/*SECCION INICIO*/

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    max-width: 330px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    
}
.inicio .contenido-banner img{
    display: block;
    width: 60%;
    margin: auto;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}


.sobremi .contenido-seccion p{
    font: 20px;
    line-height: 22px;
    margin-top: 70px;
    margin-bottom: 50px;
    float: left;
    width: 90%;
}
.sobremi .contenido-seccion .fila .col p span{
    color: #1CB698;
    font-weight: bold;
}


.button-container .contact{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
    background-color: transparent;
    grid-template-columns: repeat(4,minmax(0,1fr));
}

.button-container .contact:hover {
    background-color: #1CB698;
    transform: translateY(-20px);
}

.button-container .contact:hover::before {
    content: attr(data-name); 
    position: absolute;
    bottom: -40px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
}


.col img {
    width: 50%;
    display: flex;
    justify-content: center;
    transform: rotate(-15deg);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fila {
    display: flex;
    justify-content: center;
}

.col {
    flex-basis: 50%;
    gap: 10px;
}

.col p {
    text-align: center;
    max-width: 100%;
    justify-content: center;
    flex-basis: 50%;
    gap: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    gap: 50px;
}



/* SECCION S K I L L S */
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
    
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30PX;
}
.skills .fila{
    display: flex;
    flex-wrap: wrap;
    
    
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
    
    
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    text-align: center;
    
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-left: 60px;
    
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
    margin-left: 60px;
    
    
}
.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    transition: width 0.5s ease-in-out;
    
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.prueba {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: .3s; 
    font-size: 50px;
    cursor: pointer;
    position: relative;
    grid-template-columns: repeat(4,minmax(0,1fr));
    

}

.prueba:hover::before {
    content: attr(data-name); 
    position: absolute;
    bottom: -5px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
}

.prueba:hover {
    transform: translateY(-10px);
}

.prueba .fila .col {
    flex-wrap: wrap;
    gap: 0.75rem;
}

.col-item {
    width: 25%;
    box-sizing: border-box;
    
  }

/* Estas clases se agregaran dinamicamente mediante javascript */


.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 70%;}
}
/* SECCION PORTFOLIO */

.project-card {
    background-color: rgb(255, 255, 255, 0.5); /* Color de fondo de cada tarjeta de proyecto */
    border: 1px solid #ddd; /* Borde de las tarjetas */
    box-shadow: 0 2px 4px #1CB698;
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno de las tarjetas */
    margin: 10px; /* Espaciado entre tarjetas */
    box-shadow: 0 2px 4px rgb(255, 255, 255); /* Sombra de las tarjetas */
    width: 70%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }

  .project-card img {
    max-width: 40%;
    border-radius: 8px;
    box-shadow: 0 2px 4px #1CB698;
  }

  .project-description {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 15px;
    font: 20px;
    
  }

  .description-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    color: #fff; /* Color del texto en el overlay */
    position: absolute; /* Establecer la posición a absolute para que el overlay sea fijo */
    top: 0;
    right: -100%; /* Desplazar el overlay fuera de la tarjeta */
    width: 100%; /* Ancho del overlay */
    height: 100%; /* Altura del overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.8s;
    cursor: pointer;
  }
  
  .project-card:hover .overlay {
    right: 0;
    opacity: 1; /* Muestra el overlay al pasar el cursor sobre la tarjeta */
  }
  
  .project-card h3 {
    font-size: 24px; /* Tamaño de fuente del título del proyecto */
    font-weight: bold; /* Peso de fuente en negrita */
    margin: 10px 0; /* Espaciado superior e inferior del título */
  }

  .custom-github-icon {
    font-size: 24px; /* Ajusta el tamaño del ícono según tus preferencias */
    color: #1CB698;
  }

  .project-technologies {
    display: block;
  }
  
  .project-technologies span {
    background-color: #1CB698;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px; 
    margin-bottom: 5px; 
    margin-top: 15px;
    margin-left: 25px;
  }

  .project-description span {
    color: #1e2326; 
    font-weight: bold;
    font: 30px;
    font-family: 'Righteous';
  }

  
  
.portfolio{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}




/* SECCION CONTACTO */

.contacto .tarjeta-formulario{
    background-color: black;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.904);
    padding: 20px;
    margin: 20px;
    max-width: 300px; 
    width: 200%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 5;
}

.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color:  #1CB698;
}
.contacto .fila{
    display: flex;
    justify-content: center;
}
.contacto .col{
    width: 10%;
    padding: 5px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto .col input, .contacto .col textarea{
    display: flex;
    padding: 8px;
    border: 1px solid #252A2E;
    border-radius: 8px;
    background-color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 6px 20px;
    font-size: 16px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: width 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
.oculto {
    display: none;
  }

  .tarjeta-formulario {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(30, 35, 38, 0.95);
    z-index: 5;
    
  }
  
  /* Estilo para el botón de cierre */
  .boton-cerrar {
    position: absolute;
    width: 100%;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
  }

  
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}


/* SECCION RESPONSIVE */

/* @media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
} */

/* @media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    }
}*/

@media screen and (max-width: 700px) {
    .fila {
        flex-direction: column; 
        margin: 0 auto;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
    }

    span {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    body, html {
        margin: 0;
        padding: 0;
    }

    .contenedor-header .inicio .sobremi .skill .skills .col .col-item .barra-skill .contacto .fila .col  {
        width: 100%;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }

    .nav-responsive {
        max-width: 100%;
        justify-content: center; 
        align-items: center; 
        text-align: center;
    }

}



/* SCROLL */

/* Estilos para el track del scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del track */
}

/* Estilos para el thumb del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 4px; /* Radio del borde del thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb al pasar el cursor */
}
